# Ignore everything (works recursively, so valid files within subdirectories are ignored)
*

# But not these files...
!.gitignore
!.org
!.tex

#*.*
#!.gitignore
#!.org
#*.pdf
#*.swp
#*.tex
#*.bbl
#*.lof
#*.lot
